<div>
  <h3>What is your favourite pet?</h3>
  <form>
      <label ng-click="firstRadioClicked()">
        <a href="#/second">
          <input type="radio" value="Dogs" ng-model="first" name="petChoice">
        Dogs
      </a>
      </label>
      <label ng-click="firstRadioClicked()" href="#/second">
        <a href="#/second">
        <input type="radio" value="Cats" ng-model="first" name="petChoice">
        Cats
        </a>
      </label>
      <label ng-click="firstRadioClicked()" href="#/second">
        <a href="#/second">
        <input type="radio" value="Panda" ng-model="first" name="petChoice">
        Panda
        </a>
      </label>
  </form>
</div>
