<div id="quest">
  <h3>{{currentQuestion.statement}}</h3>
  <form>
      <label ng-click="next()">
          <input type="radio" name="petChoice" ng-model="result" value="{{currentQuestion.options[0]}}">
        <img ng-src="{{currentQuestion.options[0]}}">
      </label>
      <label ng-click="next()">
          <input type="radio" name="petChoice" ng-model="result" value="{{currentQuestion.options[1]}}">
        <img ng-src="{{currentQuestion.options[1]}}">
      </label>
      <label ng-click="next()">
          <input type="radio" name="petChoice" ng-model="result" value="{{currentQuestion.options[2]}}">
        <img ng-src="{{currentQuestion.options[2]}}">
      </label>
  </form>
  {{result}}
</div>
